.carrito-contenedor {
    display: inline-block;
    transition: all .3s;

    &:hover {
        transform: scale(1.2);
    }

    .icon {
        height: 65px;
        width: auto;
        color: #141414;
    }
}